<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-sm-3 col-sm-6">
        <div class="card" *ngIf="!isSubmitted">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Kalkulator rizika</h4>
            <p class="card-category">Unesite vaše podatke</p>
          </div>
          <div class="card-body">
            <div>
              <form [formGroup]="rizikForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="offset-md-4 col-md-8">
                    <mat-radio-group class="example-radio-group" formControlName="spol">
                      <mat-radio-button class="example-radio-button" value="Muškarac" checked>muškarac
                      </mat-radio-button>
                      <mat-radio-button class="example-radio-button" value="Žena">žena</mat-radio-button>
                    </mat-radio-group>
                    <div class="example-selected-value">{{ rizikForm.value | json }}</div>
                    <div class="example-selected-value">{{ rizikForm.status }}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Godine" name="godine" formControlName="godine" />
                    </mat-form-field>
                    {{ osobni.godine }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-check">
                      <mat-checkbox name="dijabetes" formControlName="dijabetes">Dijabetes</mat-checkbox>
                    </div>
                    <div class="form-check">
                      <mat-checkbox name="incident" formControlName="incident">Srčani incident</mat-checkbox>
                    </div>
                    <div class="form-check">
                      <mat-checkbox name="pusac" formControlName="pusac">Pušač</mat-checkbox>
                    </div>
                    Dijabetes: {{ osobni.dijabetes }} Srčani incident:
                    {{ osobni.incident }} Pušač: {{ osobni.pusac }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" (change)="onChange()">
                      <input matInput placeholder="Visina" name="visina" formControlName="visina" />
                    </mat-form-field>
                    {{ osobni.visina }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" (change)="onChange()">
                      <input matInput placeholder="Masa" name="masa" formControlName="masa" />
                    </mat-form-field>
                    {{ osobni.masa }}
                  </div>
                </div>
                <div class="row" *ngIf="bmi">
                  <div class="col-md-12">
                    bmi: {{bmi.toFixed(2)}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" (change)="onChange()">
                      <input matInput placeholder="Opseg struka" name="struk" formControlName="struk" />
                    </mat-form-field>
                    {{ osobni.struk }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width" (change)="onChange()">
                      <input matInput placeholder="Opseg bokova" name="bokovi" formControlName="bokovi" />
                    </mat-form-field>
                    {{ osobni.bokovi }}
                  </div>
                </div>
                <div class="row" *ngIf="whr">
                  <div class="col-md-12">
                    whr: {{whr.toFixed(2)}}
                  </div>
                </div>
                <div class="row" *ngIf="whr2">
                  <div class="col-md-12">
                    whr2: {{whr2.toFixed(2)}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Glukoza" name="glukoza" formControlName="glukoza" />
                    </mat-form-field>
                    {{ osobni.glukoza }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Inzulin" name="inzulin" formControlName="inzulin" />
                    </mat-form-field>
                    {{ osobni.inzulin }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Ukupni kolesterol" name="ukupniKolesterol"
                        formControlName="ukupniKolesterol" />
                    </mat-form-field>
                    {{ osobni.ukupniKolesterol }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="HDL kolesterol" name="hdlKolesterol"
                        formControlName="hdlKolesterol" />
                    </mat-form-field>
                    {{ osobni.hdlKolesterol }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="LDL kolesterol" name="ldlKolesterol"
                        formControlName="ldlKolesterol" />
                    </mat-form-field>
                    {{ osobni.ldlKolesterol }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Trigliceridi" name="trigliceridi" formControlName="trigliceridi" />
                    </mat-form-field>
                    {{ osobni.trigliceridi }}
                  </div>
                </div>

                <button mat-raised-button type="button" class="btn btn-danger pull-left" (click)="onReset()">
                  Poništi
                </button>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="!rizikForm.valid">
                  Dalje
                </button>
                <div class="clearfix"></div>
              </form>
            </div>

          </div>
        </div>
        <div class="card" *ngIf="isSubmitted">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Kalkulator rizika</h4>
            <p class="card-category">Vaši rezultati</p>
          </div>
          <div class="card-body">
            <div>
              <h2>Vaši rezultati:</h2>

              <!--Tablica rezultata-->
              <div class="row">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col">Varijabla</th>
                      <th scope="col">Rezultat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Spol</th>
                      <td>{{ osobni.spol }}</td>
                    </tr>
                    <tr>
                      <th>Dob</th>
                      <td>{{ osobni.godine }} godina</td>
                    </tr>
                    <tr>
                      <th>Visina</th>
                      <td>{{ osobni.visina }} cm</td>
                    </tr>
                    <tr>
                      <th>Masa</th>
                      <td>{{ osobni.masa }} kg</td>
                    </tr>
                    <tr *ngIf="osobni.struk; else strukNedostaje">
                      <th>Struk</th>
                      <td>{{ osobni.struk }} cm</td>
                    </tr>
                    <ng-template #strukNedostaje>
                      <tr>
                        <th>Struk</th>
                        <td>Nedostaje parametar</td>
                      </tr>
                    </ng-template>
                    <tr *ngIf="osobni.bokovi; else bokoviNedostaje">
                      <th>Bokovi</th>
                      <td>{{ osobni.bokovi }} cm</td>
                    </tr>
                    <ng-template #bokoviNedostaje>
                      <tr>
                        <th>Bokovi</th>
                        <td>Nedostaje parametar</td>
                      </tr>
                    </ng-template>
                    <tr>
                      <th>Glukoza</th>
                      <td>{{ osobni.glukoza }} mmol/L</td>
                    </tr>
                    <tr *ngIf="osobni.inzulin; else inzulinNedostaje">
                      <th>Inzulin</th>
                      <td>{{ osobni.inzulin }} pmol/L</td>
                    </tr>
                    <ng-template #inzulinNedostaje>
                      <tr>
                        <th>Inzulin</th>
                        <td>Nedostaje parametar</td>
                      </tr>
                    </ng-template>
                    <tr>
                      <th>Ukupni kolesterol</th>
                      <td>{{ osobni.ukupniKolesterol }} mmol/L</td>
                    </tr>
                    <tr>
                      <th>LDL kolesterol</th>
                      <td>{{ osobni.ldlKolesterol }} mmol/L</td>
                    </tr>
                    <tr>
                      <th>HDL kolesterol</th>
                      <td>{{ osobni.hdlKolesterol }} mmol/L</td>
                    </tr>
                    <tr>
                      <th>Trigliceridi</th>
                      <td>{{ osobni.trigliceridi }} mmol/L</td>
                    </tr>
                  </tbody>
                </table>
              </div>



              <div class="row" *ngIf="bmi">
                <div class="card" style="width: 100%;">
                  <div class="card-header">
                    <strong>BMI: {{ bmi.toFixed(2) }}</strong>

                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      Vaša Preporučena TM: {{ preporucenaTjelesnaMasa }}kg
                    </li>
                    <li class="list-group-item">
                      {{ bmiPoruka }}
                    </li>
                    <li class="list-group-item">
                      Vaš BFP: {{ bodyFatPostotak }}%
                    </li>
                    <li class="list-group-item">
                      {{ bodyFatPostotakPoruka }}
                    </li>
                    <li class="list-group-item">
                      Postotak tjelesne masti izračunat na temelju dobi, spola, visine i težine predstavlja
                      jedan od
                      parametara
                      za procjenu rizika od nastanka kardiovaskularnih bolesti.
                    </li>
                    <li class="list-group-item" *ngIf="whr">
                      Vaš WHR: {{ whr.toFixed(2) }}
                    </li>
                    <li class="list-group-item">
                      {{ whrPoruka }}
                    </li>
                    <li class="list-group-item" *ngIf="whr2">
                      Vaš WHR2: {{ whr2.toFixed(2) }}
                    </li>
                  </ul>
                </div>
              </div>


              <div class="row" *ngIf="homaIr">
                <div class="card" style="width: 100%;">
                  <div class="card-header">
                    <strong>HOMA – IR: {{ homaIr.toFixed(2) }}</strong>

                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      HOMA – IR je pokazatelj osjetljivosti stanica na djelovanje inzulina te marker inzulinske
                      rezistencije, a HOMA – β je marker koji daje uvid u aktivnost beta – Langerhansonovih otočića
                      odgovornih za proizvodnju inzulina u gušterači.
                      <br>Ova dva parametra se računaju različitim omjerima
                      glukoze i inzulina i predstavljaju jasan pokazatelj nastanka dijabetesa tipa 2 i do 10 godina
                      prije
                      pojave prvih simptoma i bolesti.
                    </li>
                    <li class="list-group-item">
                      {{ homaIrPoruka }}
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row" *ngIf="homaBeta">
                <div class="card" style="width: 100%;">
                  <div class="card-header">
                    <strong>HOMA – Beta: {{ homaBeta.toFixed(2) }}</strong>

                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      {{ homaBetaPoruka }}
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="card" style="width: 100%;">
                  <div class="card-header">
                    <strong>Glukoza: {{ osobni.glukoza }} mmol/L</strong>

                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      {{ glukozaPoruka }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="card" style="width: 100%;">
                  <div class="card-header">
                    <strong>Ukupni kolesterol: {{ osobni.ukupniKolesterol }} mmol/L</strong>

                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      {{ ukupniKolesterolPoruka }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="card" style="width: 100%;">
                  <div class="card-header">
                    <strong>LDL kolesterol: {{ osobni.ldlKolesterol }} mmol/L</strong>

                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      {{ ldlKolesterolPoruka }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="card" style="width: 100%;">
                  <div class="card-header">
                    <strong>HDL kolesterol: {{ osobni.hdlKolesterol }} mmol/L</strong>

                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      {{ hdlKolesterolPoruka }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="card" style="width: 100%;">
                  <div class="card-header">
                    <strong>Trigliceridi: {{ osobni.trigliceridi }} mmol/L</strong>

                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      {{ trigliceridiPoruka }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="card" style="width: 100%;">
                  <div class="card-header">
                    <strong>Ukupni rizik</strong>

                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      {{ rizikUkupni }}
                    </li>
                  </ul>
                  <div class="card-header">
                    <strong>Ukupni rizik (%)</strong>

                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      {{ rizikUkupniPostotak }}%
                    </li>
                  </ul>
                </div>
              </div>



              <div class="row" *ngIf="osobni.inzulin && osobni.struk && osobni.bokovi;
                    else ukupniRizikNedostajeParametar">
                <div class="card" style="width: 100%;">
                  <div class="card-header">
                    <strong>Ukupni rizik</strong>

                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      {{ rizikUkupniPoruka }}
                    </li>
                  </ul>
                </div>
              </div>
              <ng-template #ukupniRizikNedostajeParametar>
                <div class="row">
                  <p>Za opis potpunog rizika potrebno je unijeti sve parametre</p>
                </div>
              </ng-template>
              <br>
              <button class="btn btn-danger" (click)="isSubmitted=false">Natrag</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>